<div>
    <h2>
        {{post.title}}
    </h2>
    <p>
        POSTED BY: {{post.User.username}} on {{format_date post.createdAt}}
    </p>
    <p>
        {{post.body}}
    </p>
</div>

<div>
    <h3>Comments</h3>
    {{#if post.Comments.length}}
    <ul>
        {{#each post.Comments as |comment|}}
        <li>{{comment.body}} - by {{comment.User.username}} on {{format_date comment.createdAt}}</li>
        {{/each}}
    </ul>
    {{else}}
    <p>No comments yet!</p>
    {{/if}}
</div>

<div class="col-md-6">
    <h4>Leave a comment:</h4>

    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-body">body:</label>
        <textarea class="form-input" id="comment-body" name="comment-body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">CREATE</button>
      </div>
    </form>
</div>

{{!-- linking comment.js leads to an Uncaught Syntax Error: Unexpected token '<' --}}
{{!-- unfortunately I don't have time to figure out what's causing it, so I'm choosing not to link it so that the heroku doesn't crash --}}
{{!-- I believe the code in public/js/comment.js and controllers/api/commentRoutes.js would work if I could successfully link this though, so I'm leaving those in the repo --}}
{{!-- <script src="./js/comment.js"></script> --}}