<div>
    <h2>
        {{post.title}}
    </h2>
    <p>
        POSTED BY: {{post.User.username}} on {{format_date post.createdAt}}
    </p>
    <p>
        {{post.body}}
    </p>
</div>

<div>
    <h3>Comments</h3>
    {{#if post.Comments.length}}
    <ul>
        {{#each post.Comments as |comment|}}
        <li>{{comment.body}} - by {{comment.User.username}} on {{format_date comment.createdAt}}</li>
        {{/each}}
    </ul>
    {{else}}
    <p>No comments yet!</p>
    {{/if}}
</div>